# Database connection URL
# SQLite default for local development:
DATABASE_URL="file:./dev.db"

# PostgreSQL (for PostgreSQL production or staging environments):
# DATABASE_URL="postgresql://postgres:password@localhost:5432/edumanage?schema=public"

# JWT Secret for Session Authentication
JWT_SECRET="your-jwt-secret-key-here-min-32-chars"

# App URL
NEXT_PUBLIC_APP_URL="http://localhost:3000"
